@model Airline.Models.LoginModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="btn-block">
    @Html.ActionLink("Login Here", "LoginUser")
</div>
<div class="btn-block">
    @Html.ActionLink("Register Here", "Register")
</div>